.audience {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 3;

   .subtitle { 
        @include componentTitle;
   }

   &__text-left {
        @include text;
        top: 35px;
        left: 590px;
    }

   &__text-right {
        @include text;
        top: 35px;
        left: 650px;
    }
}


input[type="date"] {
    position: absolute;
    top: 30px;
    left: 400px;
}