.gamburger {
    position: fixed;
    content: '';
    top: 60px;
    right: 250px;

    display: none;
    width: 30px;
    height: 3px;
    background-color: black;
}

.gamburger::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
}

.gamburger::after {
    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
}

