.gender {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 4;
    
    .subtitle {
        @include componentTitle;
    }

    &__text-left {
        @include text;
        top: 30px;
        left: 530px;
    }
    
    &__text-right {
        @include text;
        top: 30px;
        left: 605px;
    }
}

