.sidebar {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 5;
    grid-template-rows: 1fr repeat(7, 80px) 1fr;
    width: 98px;
    min-height: 880px;
    background-color: #FDFDFF;
    border: 1px solid #EBEBEB;
}

.sidebar__link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.sidebar__link:first-child,
.sidebar__link:last-child{
    height: 80px;
    width: 100%;
}

.sidebar__link:last-child{
    align-self: flex-end;
}


svg{
    fill: #DFE6F1;
    transition: fill ease .5s;
}

.sidebar__link:before{
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 4px;
    height: 50px;
    background-color: #7F7FD5;
    border-radius: 0 5px 5px 0;

    transition: all ease .5s;
}

.sidebar__link:hover:before {
    visibility: visible;
    opacity: 1;
    background-color: #7F7FD5;
}

.sidebar__link:hover svg {
    fill:#7F7FD5;
}

/* Toggle */

input[type='checkbox']{
    visibility: hidden;
    display: none;
}

.toggle {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    background: #fdfdfd;
    border: 0.5px solid #4F4F4F;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
}

input[type='checkbox']:checked ~ .check {
    background-color: #fff;
    
}

.toggle:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .6s;
}

input[type='checkbox']:checked ~ .toggle:before {
    transform: translateX(20px);
}

.toggle:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    background: #7F7FD5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .6s;
    transform: translateX(0px);

}

input[type='checkbox']:checked ~ .toggle:after {
    transform: translateX(-25px);
}