html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.wrap {
    position: relative;
    max-width: 1600px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

