html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

 body {
    font-family: 'Gilroy', sans-serif;
 }

 
.wrap {
    width: 1600px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(/src/images/background/union.png);
}

